.academy-widget {
    &--calendar{
        display: flex;
        gap: 30px;

        .academy-calendar{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .academy-time-fields{
                display: flex;
                gap: 10px;
                width: 400px;
                .academy-select {
                    &--time-format{
                        width: 100px;
                    }
                    &--time-zone{
                        width: 300px;
                    }
                }
            }
            .react-calendar {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                padding: 15px;
                width: 400px;
            }
        }

        .academy-booking-slots{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            h3 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                padding: 0 0 10px 0;
            }
            &--slot {
                display: flex;
                justify-content: center;
                width: 200px;
                .academy-booking-slot{
                    transition: all ease 0.4s;
                    padding: 8px 10px;
                    border: 1px solid #7b68ee;
                    color: #7b68ee;
                    min-width: 70px;
                    min-width: 100px;
                    display: flex;
                    justify-content: center;
                    width: 200px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
            &--active {
                gap: 10px;
                justify-content: space-between;
                .academy-booking-slot{
                    width: 100px;
                }
                button {
                    padding: 8px 10px;
                    width: 100px;
                    background: #7b68ee;
                    color: #fff;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all ease 0.6s;
                }
            }
            &--slot-booked {
                .academy-booking-slot{
                    color: black;
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.1);
                    border:1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

}

.academy-booking-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 500px;
    .academy-form-group {
        width: 100%;
        &__label {
            font-size: 16px;
        }
    }
    button {
        padding: 16px 20px;
        background: #7b68ee;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all ease 0.6s;
    }
}

.react-calendar {
    .date-range-active {
        background:rgba(123, 104, 238, 0.2);
        color: #7b68ee !important;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        position: relative;
        font-weight: 600;
        pointer-events: unset !important;
        &:hover {
            background: #7b68ee;
            color: #fff !important;
        }
    }
    .date-selected {
        background:#7b68ee;
        color: #fff !important;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        position: relative;
    }
    .react-calendar__tile--now {
        background-color: transparent;
        color: #7b68ee !important;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 10px;
            left: 22px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #7b68ee;
            z-index: 999;
        }
        &:hover {
            background: #7b68ee;
            color: #fff !important;
        }
    }
    .react-calendar__tile--hasActive {
        background: rgba(123, 104, 238, 0.2);
        color: #7b68ee !important;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 0;
        &:hover {
            background: #7b68ee;
            color: #fff !important;
        }
    }
    .inactive {
        color: var(--academy-dark-gray-color);
        pointer-events: none;
    }
}